<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>AFK-Food</title>
		<meta name="description" content="restaurant stuff">
		<link rel="stylesheet" type="text/css" href="/css/spectre.css">
		<script src="/js/angular.js"></script>
		<script src="/js/food.js"></script>
	</head>

	<body>
		<div class="text-center">
			<h2>New order</h2>
		</div>
		<div class="divider"></div>
		<div class="form-group container col-6">
			<form action="" method="POST">
				<label class="form-label" for="input-name">Name</label>
				<input class="form-input" type="text" id="input-name" name="name" placeholder="Kaese" />
				<label class="form-label" for="input-contents">Order - specify every detail</label>

				<textarea class="form-input" id="input-contents" rows="2" name="contents" placeholder="Kebabrulle med gyroskött, såsen vid sidan av, ingen rödlök men extra gurka"></textarea>
				<button class="btn right" name="submit" formaction="/api/submit">Submit</button>
			</form>
		</div>

		<div ng-app="foodApp" class="container text-center">
			<table ng-controller="FoodController" class="table table-striped center">
				<thead>
					<tr>
						<th>Name</th>
						<th>Order</th>
						<th>Date</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody ng-repeat="order in orders">
					<tr>
						<td>{{order.Name}}</td>
						<td>{{order.Contents}}</td>
						<td>{{order.Date}}</td>
						<td>
							<form action="" method="POST">
								<button class="btn" name="id" formaction="/api/remove" value="{{order.Id}}">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
